@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bold;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

/* RESPONSIVE */
@media(max-width:1920px){
    .relogio .audio{
        display: none;
    }
}
@media(max-width:425px){
    body{
        height: 100vh;
        background: url('https://i.pinimg.com/originals/b3/0e/3f/b30e3f910f2b5c89bb27e5bfc0725387.gif') center center no-repeat;
        background-size: cover;
    }
    
    .relogio{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .relogio div{
        height: 220px;
        background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 96%);

    }

    .relogio span{
        color: #f9004d;
        font-weight: bold;
    }

    .relogio span.tempo{
        font-size: 20px;
        text-align: center;
    }

    .relogio .audio{
        display: flex;
        width: 100%;
        height: 100px;
        background: transparent;
        
    }
}